.app {
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  color: #484848;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  .header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      color: #484848;
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .url-input {
      all: unset;
      width: 100%;
      padding: 10px;
      border: 2px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        border-color: #FF5A5F;
      }
    }

    .summarize-button {
      padding: 10px 20px;
      background-color: #FF5A5F; // Красный фон кнопки
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: darken(#FF5A5F, 10%); // Темнее при наведении
      }
      &:disabled {
        background-color: #ccc;
      }
    }
  }

  .summary-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;

    h2 {
      color: #484848;
    }

    span {
      color: #FF5A5F;
    }

  }
}
