footer {
  text-align: center;
  padding-top: 20px;
  margin-top: auto; // Автоматический отступ сверху для подталкивания футера к низу
  border-top: 1px solid var(--border-color);
    p {
      color: var(--footer-color);
      font-size: 14px;
    }
  }